page-info {
  .ranura{
    height: 100px;
    margin: 5px;
    text-align: center;
  }

  .ranura-text{
    color: white;
    font-size: 3em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .description{
    font-style: italic;
    color: #337ab7;
  }
}
